/*Перероблено під LESS*/
.clearfix() {
  overflow: hidden;
  zoom:1;
  &:before{
    content:"";
    display:table;
  }
  &:after{
    content:"";
    display:table;
    clear:both;
  }
}
li {
  list-style: none;
}
@media only screen and (max-width: 1200px){
  .menu-2{
    ul{
      margin-right: 77px;
    }
  }
}