*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper{
 width: 1170px;
 margin: 0 auto;
 text-align: center;
}
.fon{
	background:url(../img/fon.jpg) top center ;
	width: 100%;
}

.menu{
	.clearfix();
	background: #211103;
	width: 100%;
	height:50px;
a ,li{
	display: inline-block;
	text-decoration: none;
	margin: 5px 10px;
	color: #fff;
	 }

#vopros{
	margin: 0 390px 0 0;
	   }
  .one_1{
   border-right: 1px solid antiquewhite;
   height: 32px;
   a{
	&:hover{
	  color:#e1c402;
	   }
	  }
	} 
 #vhod{
  &:before{
   content: url(../img/vhod.png); }
 }
}
/*-------------*/
.fon-2{
	.clearfix();
	background: #fff;
	height: 630px;
}
.menu-2{
	.clearfix();
	background: #fff;
    width: 100%;
	height:75px;
	border-bottom: 1px solid;
li{
	display: inline-block;
	text-decoration: none;
	margin: 0 10px;}
 input{
   width: 270px;
   border:1px solid #000;
	 }
 img{
 	margin: 8px 0;
 }
 p{
 	font-size: 15px;
 }
 ul{
 	margin-right: 130px;
 }
 button{
 	background: #000;
 	color: #fff;
 	font-size: 15px;
 	border-radius: 5px;
 	cursor: pointer;
     }
  #gorod{
	font-size: 15px;
	font-weight: bold;
    }
  span{
  	margin-right: 51px;
  }
 .poisk{
 	margin: 0 140px 0 0;
 }
}
.conten{
	.clearfix();
   float: left;
 #oform{
  font-size: 30px;
  font-weight: bold;
  margin: 25px;
 }
 #dani{

 }
 .linia{
 	margin-left: 70px;
 }
 #nom{
 	margin-right: 8px;
 }
 #nom_1{
 	margin-right: 18px;
 }
 #nom_2{
 	margin-right: 64px;
 }
 input{
 	margin: 12px 7px;
 }
 #br1{
 	margin-left: 30px;
 }
#inp_1{
margin-left: 34px;
 }
 #inp_2{
 	margin-right: 26px;
 }
 #inp_3{
  margin-left: 2px;	
 }
 #inp_4{
 	margin-left: 56px;
 }
 li{
 	list-style: none;
 }
 span{
 	margin-right: 30px;
 }
 #dost{
 	margin: 0 40px;
 }
 #inl_1{
 	margin-left: 87px;
 }
 #inl_2{
 margin-left: 130px;
  }
 #inl_3{
 margin-left: 64px;
 }
}
 .right{
 	.clearfix();
   	width: 400px;
   	height:210px;
   	background: #dedede;
   	float: right;
   	margin: 110px 50px;
 img{
  float: left;
  margin: 10px;
  }
  p{
  	margin-right: 130px;
  }
  #ht{
  	margin: 30px 0;
  }
  span{
  	margin: 0 99px;
  }
  hr{
  	width: 320px;
    margin: 0 50px;
  }
 #itog{
margin: 0 39px;
 }
 #grn{
   margin: 0 0;
   margin-left: 113px;
 }
}
/*----------------*/
.footer{
	.clearfix();
	background: #211103;
	width: 100%;
	padding: 10px;
.foter{
  ul{
	float: left;
	color: aliceblue;
	font-size: 15px;
	}
  a{
  	text-decoration: none;
  	color: #b9b7ad;
  	&:hover{
  		color:#f5d602;
  	}
  }
  li{
  	margin: 5px 0;
  }
  .card_{
  	float: left;
  	margin: 0 5px;
  }
  #mega{
  	margin: 35px 0;
  }
  #hed{
  	font-size: 20px;
  	font-weight: bold;
  }
  #ul_2{
  	margin-left: 190px;
  }
  #ul_3{
   margin-left: 120px;
  }
  span{
  	border-right: 1px solid;
  	padding: 0 10px;
  }
  .soc{
  	float: left;
  	margin: 90px 8px;
  }
 }
}
/*_______________korzina______________*/
.korzin{
	.clearfix();
	p{
		margin-right: 1000px;
		font-size: 20px;
		font-weight: bold;
	}
		
}
.nazva{
	.clearfix();
  	background-image:url(../img/1px.png);
  	height: 465px;
  	width: 900px;
  	margin: 10px;
  .nazv_1, .nazv_2, .nazv_3, .nazv_4{
  	float: left;
  	font-weight: bold;
  }
  .nazv_1{
  	margin: 0 297px 0 45px;
  }
  .nazv_2{
   margin: 0 60px 0 5px;
  }
  .nazv_3{
   margin: 0 114px 0 0px;
  }
  .tovar{
  	background:url(../img/1pxf.png) ;
  	height: 410px;
  	width: 873px;
  	margin: 30px 13px;
  }
  #pc_ul{
  	float: left;
  	li{
  		margin: 30px 0;
  	}
  }
  #opus_ul{
  	float: left;
  	li{
	 margin: 90px 0;
	 margin-top: 35px;
  	}
   button{
    background: #eae953;
	width: 95px;
	height: 25px;
	border-radius: 9px;
  	}
  }
  #kolich{
  	.clearfix();
  	float: left;
  	margin: 10px 60px;
  	.nomer_2{
  		border:1px solid;
  		margin: 130px 0;
  		border-radius: 10px;
        width: 30px;
  	}
  	.nomer{
  		border:1px solid;
        border-radius: 10px;
        width: 30px;
        margin: 10px 0;
  	}
  }
  .cina{
  	float: left;
  li{
	margin: 110px 0;
	margin-top: 53px;
	}
  button{
    background: #eae953;
	width: 95px;
	height: 25px;
	border-radius: 9px;
  	}
  }
  .udali{
  	.clearfix();
     #my{
  list-style: none;
  background: #211103;
  color: #fff;
  width: 255px;
  height: 45px;
    border-radius: 10px;
 }
  	li{
	margin: 110px 0;
	margin-top: 53px;
	}
  }
}
.float_right{
 .clearfix();
   float: right;
   margin-top: 59px;
 #my{
  list-style: none;
  background: #211103;
  color: #fff;
  width: 255px;
  height: 45px;
    border-radius: 10px;
 }
 #vic{
  border: 1px solid;
  border-radius: 14px;
  height: 130px;
    li{
    padding: 10px 0;
  }
 }
}
.pod_fotter{
  #cena{
    float: right;
    margin-right: 270px;
   button{
    background: #eae953;
    width: 95px;
    height: 25px;
    border-radius: 9px;
   }
  }
  .but{
    margin: 10px 0;
    #prod{
      margin: 30px 200px;
            float: left;
            background: #323232;
            color: #fff;
            width: 130px;
      height: 30px;
      border-radius: 6px;
      cursor: pointer;
           }
           #oform{
            background: #44a101;
            color: #fff;
            width: 130px;
      height: 30px;
      border-radius: 6px;
      cursor: pointer;
           }
  }
}
@import "mixins";